@import url('./assets/fonts/fonts.css');
@import url('./assets/styles/common.css');
@import url('./assets/styles/normalize.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: Roboto, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
